* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: wheat;
}
.active {
  color: aqua;
}
.header {
  background-color: #282c34;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 40px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
  padding: 20px 0;
  background-color: #282c34;
  color: wheat;
}
